body{
   background:radial-gradient(circle at center, #0a0a1a,#000);
    font-family: 'Segoe UI',sans-serif;
}
.signup-box{
    width:900px;
    min-height:600px;
    border:1px soild rgba(255,255, 255,0.1);
    border-radius: 20px;
    overflow: visible;
    position: relative;
    box-shadow: 0 0 40px rgba(41,121, 255,0.4), 0 0 40px rgba(41,121, 255,0.5), 0 0 80px rgba(41,121, 255,0.6);
}
.signup-box::before{
    content:"";
    position:absolute;
    inset:-30px;
    background: radial-gradient(circle, rgba(41,121, 255,0.35) 0%,
    rgba(41,121, 255,0.15) 40%,  transparent 70%
    );
    border-radius: 30px;
    filter: blur(40px);
    z-index: -1;
}
.overlay-text{
    color:white;
    padding:40px;
}
.overlay-text h2{
    font-size:32px;
    font-weight: 600;
}
.overlay-text p{
    opacity: 0.8;
}
.left-side{
    background-image: url(images/leftside.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:600px;
}
.right-side{
    background:#050510;
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.right-side h2{
    text-align: center;
    margin-bottom: 30px;
}
.signup-title{
    position: relative;
}
.signup-title::after{
    width:70px;
    height:3px;
    content:"";
    background:#00f7ff;
    border-radius:5px;
    position: absolute;
    left:50%;
    bottom:-10px;
    transform:translateX(-50%);
    
    box-shadow:0 0 5px #00f7ff, 0 0 10px #00f7ff, 0 0 20px #00f7ff;

}
.neon-input{
    width:100%;
    padding:14px;
    background: transparent;
    border: 1px solid #00f7ff;
    color:white;
    border-radius: 10px;
    outline:none;
    transition: 0.3s;
}
.neon-input::placeholder{
    color:#00f7ff;
    opacity: 0.6;
}
.neon-input:focus{
    box-shadow:0 0 10px #00f7ff,0 0 20px #00f7ff;
}
.neon-btn{
    background: transparent;
    padding:12px;
    border-radius: 10px;
    border:1px soild #00f7ff;
    color:white;
    transition: 0.3s;
}
.neon-btn:hover{
    background:#00f7ff;
    color:black;
    box-shadow: 0 0 20px #00f7ff;
}






